@import url('https://fonts.googleapis.com/css?family=Varela');

body{
    background-color: #F4F4F8;
    height: 100%;
    font-family: 'Varela', sans-serif !important;
}
.content h1{
    text-align: center;
    font-family: 'Varela', sans-serif;
    color: #444444;
    font-weight: 600;
    margin-bottom: 30px;
}

.message-form{
    text-align: center;
}
#message-input::placeholder{
    font-weight: 100 !important;
}

.btn-submit{
    color: white;
    background-color: rgb(42, 183, 202);
    margin-top: 5px;
}

.btn-submit:hover{
    background-color: rgba(42, 183, 202, 0.8)
}
.message-item{
    font-family: 'Varela', sans-serif !important;
    font-weight: 300;
    background-color: #FE4A49;
    margin: 2px;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    color: white !important;
    transition: 0.3s;
}
.message-item:hover{
    background-color: #FED766;
    transform: scale(1.3);
}